<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dobble Social Network</title>

        <!-- Bootstrap core CSS -->
        <!--    <link href="css/bootstrap.css" rel="stylesheet">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
        <!-- Custom styles for this template -->
        <!--    <link href="css/font-awesome1.css" rel="stylesheet">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">
        <!--    <link href="css/style.css" rel="stylesheet">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </head>
</div>