
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<div th:replace="fragments/header:: header"/>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/profiles/status}">Profile</a></li>
                <li>
                    <div class="navbar-text navbar-right">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="profile">

                    <br></br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Posts</h3>
                                </div>
                                <span class="tr-shadow" th:each="status :${statuses}">
                                <div class="panel-body">
                                    <div class="col-md-8">
                                        <ul>
                                            <li><strong>Name:</strong> <span th:text="${status.user.firstName} "></span><span th:text="${status.user.lastName}"></span></li>
                                            <li><strong>Status: </strong><span th:text="${status.content}"></span></li>
                                            <li><strong>Location: </strong><span th:text="${status.location.name}"></span></li>
                                        </ul>
                                        <br>

                                    </div>
                                </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- col-md-8 end -->

        </div>
    </div>

</section>


<div th:replace="fragments/copyright:: copyright"/>

<div th:replace="fragments/footer:: footer"/>
</body>
</html>
